
div {
    background-color: #22BABB;
    border-style: solid;
    border-color: #348888;
    border-width: 10px;
    width: 920px
}


p {
    border-color:  #9EF8EE;
    border-style: solid;
    background-color: #FA7F08;
    padding: 5px;
    width: 900px;
}


img{
    border-color:  #9EF8EE;
    border-style: solid;
    background-color: #FA7F08;
    border-radius: 8px;
    padding: 5px;
    width: 600px;


}
